<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="header"><h1>
    <a href="http://barelaunch.herokuapp.com/">Launch</a></h1>
    <p class="flash"><%=flash.notice %></p>
  </div>

<div>
    	<%= yield %>
      <hr>
      <h6>

        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </h6>
</div>

<div id="footer">
December 23rd,
  Quin Weidner <br>
  <a href="www.parkinsonlaunch.wordpress.com">Launch Wordpress</a>
</div>
</body>
</html>
